-#医学影像
.row
  .col-md-3
    = partial :'views/commons/pet/portal_pet_view'

  .col-md-9
    -#文件上传
    = partial :'layouts/inputs/fileupload', :locals => {:keyword => '', :fieldName => '种类名称', :maxlength => '32', :required => "true"}

    .row
      .col-md-12
        -#Text
        = partial :'layouts/inputs/textarea', :locals => {:fieldName => '检测结果', :maxlength => '32', :required => "true"}
