---
layout: "page"
---

- page "收费管理", "payment"

= partial 'layouts/widget/portal'

= partial :'layouts/partials/modal-portal-full', :locals => {:modal_toolbar => 'close|balance'}  do
  = partial 'modify'
