---
layout: "page"
---

- page "销售查询", "saleplate"

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'view' } do
  / 不输出按钮


/  查看页面
= partial :'layouts/partials/modal-portal-view-full', :locals => {:modal_toolbar => 'close' } do
  = partial 'view'
