---
layout: "page"
---

- page '退货管理', 'backstorage'

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'update|remove|auditing' }

/  编辑页面
= partial :'layouts/partials/modal-portal-full', :locals => {:modal_toolbar => 'close|submit|auditing' } do
  = partial 'modify'

/ 选择供应商
= partial :'layouts/widget/service_dealer_select'
