%center
  %h1
    福莱宠物医院病历单

%table.table
  %tbody
    %tr
      %th{:width => "100px"} 医院名称
      %td

      %th{:width => "100px"} 医院地址
      %td{:colspan => "3"}

    %tr
      %th 负责人
      %td

      %th 医院电话
      %td

      %th{:width => "100px"} 会员姓名
      %td

    %tr
      %th 会员电话
      %td

      %th 宠物昵称
      %td

      %th 诊疗医生
      %td

    %tr
      %th 助理医生
      %td

%table.table.table-bordered
  %thead
    %tr
      %th.info 就诊信息

  %tbody
    %tr
      %td
        %table.table
          %tbody
            %tr
              %td{:width => "100px"}  体温
              %td
              %td{:width => "100px"}  心跳
              %td
              %td{:width => "100px"}  呼吸
              %td
              %td{:width => "100px"}  血压
              %td

            %tr
              %td 主叙
              %td{:colspan => "7"}
