---
layout: "page"
---
- page '病案管理', 'medicalrecord'

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'view', :selection => "none"} do
  / 不输出

/  查看页面
= partial :'layouts/partials/modal-portal-view-lg', :locals => {:modal_toolbar => 'close' } do
  = partial 'view'
