- page "Dashboard", "dashboard"

.row
  .col-md-12.text-center{:style => "height: 150px"}

.row
  .col-md-12.text-center
    %img{:src => "assets/images/logo-md.png", :width => "200px"}

.row
  .col-md-12.text-center
    %h1 欢迎登录福莱动物医院医疗系统