
.form-body
  .row
    .col-md-6
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '物品编号', :maxlength => '32'}

    .col-md-6
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '物品名称', :maxlength => '32'}

  .row
    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:fieldName => '整装数', :maxlength => '32', :required => 'true'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:fieldName => '散装数', :maxlength => '32', :required => 'true'}

