.form-body
  .row
    .col-md-12
      = partial :'layouts/inputs/textview', :locals => {:keyword => "labworktype", :fieldName => '父类名称', :maxlength => '32'}
  .row
    .col-md-12
      = partial :'layouts/inputs/text', :locals => {:keyword => "labworktype", :fieldName => '类别名称', :maxlength => '32'}
