---
layout: "page"
---

- page "结算单管理", "statement"

= partial 'layouts/widget/portal'

= partial :'layouts/partials/modal-portal-full', :locals => {:modal_toolbar => 'close|reprint'}   do
  = partial 'modify'
