---
layout: "page"
---

- page '出库管理', 'outstorage'

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'update|remove|auditing' }

/  编辑页面
= partial :'layouts/partials/modal-portal-full', :locals => {:modal_toolbar => 'close|submit|auditing' }  do
  = partial 'modify'
