- page "amchartdashboard", "amchartdashboard"

/ END PAGE BAR
/ BEGIN PAGE TITLE
%h3.page-title
  amChart
  %small charting library &amp; maps. Where all data goes visual

.row
  .col-md-12
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Bar Charts
              %span.caption-helper column and line mix
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_1.chart{:style => "height: 500px;"}
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Line &amp; Area
              %span.caption-helper duration on value axis
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_2.chart{:style => "height: 400px;"}
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Line &amp; Area
              %span.caption-helper with changing color
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_3.chart{:style => "height: 400px;"}
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Bar &amp; Line
              %span.caption-helper bar and line chart mix
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_4.chart{:style => "height: 400px;"}
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze 3D Chart
              %span.caption-helper 3d cylinder chart
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_5.chart{:style => "height: 400px;"}
            .well.margin-top-20
              .row
                .col-sm-3
                  %label.text-left Top Radius:
                  %input.chart_5_chart_input{"data-property" => "topRadius", :max => "1.5", :min => "0", :step => "0.01", :type => "range", :value => "1"}/
                .col-sm-3
                  %label.text-left Angle:
                  %input.chart_5_chart_input{"data-property" => "angle", :max => "89", :min => "0", :step => "1", :type => "range", :value => "30"}/
                .col-sm-3
                  %label.text-left Depth:
                  %input.chart_5_chart_input{"data-property" => "depth3D", :max => "120", :min => "1", :step => "1", :type => "range", :value => "40"}/
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-6
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Simple Pie Chart
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_6.chart{:style => "height: 525px;"}
      / END CHART PORTLET
      .col-md-6
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze 3D Pie Chart
              %span.caption-helper bar and line chart mix
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_7.chart{:style => "height: 400px;"}
            .well.margin-top-20
              .row
                .col-sm-3
                  %label.text-left Top Radius:
                  %input.chart_7_chart_input{"data-property" => "topRadius", :max => "1.5", :min => "0", :step => "0.01", :type => "range", :value => "1"}/
                .col-sm-3
                  %label.text-left Angle:
                  %input.chart_7_chart_input{"data-property" => "angle", :max => "89", :min => "0", :step => "1", :type => "range", :value => "30"}/
                .col-sm-3
                  %label.text-left Depth:
                  %input.chart_7_chart_input{"data-property" => "depth3D", :max => "120", :min => "1", :step => "1", :type => "range", :value => "40"}/
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-6
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Polar Chart
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_8.chart{:style => "height: 400px;"}
      / END CHART PORTLET
      .col-md-6
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Radar Chart
              %span.caption-helper bar and line chart mix
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_9.chart{:style => "height: 400px;"}
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Map with Bubbles
              %span.caption-helper world population
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_10.chart{:style => "height: 600px;"}
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Flight Routes Map
              %span.caption-helper interactive flight routes map
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_11.chart{:style => "height: 500px;"}
    / END CHART PORTLET
    / END ROW
    / BEGIN ROW
    .row
      .col-md-12
        / BEGIN CHART PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.fa.fa-bar-chart
              %span.caption-subject.bold.uppercase.font-green-haze Stock Charts
              %span.caption-helper with stock events
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.fullscreen{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body
            #chart_12.chart{:style => "height: 500px;"}

/ BEGIN PAGE LEVEL PLUGINS
%script{:src => "../assets/pages/report/charts-amcharts.min.js", :type => "text/javascript"}
  / END PAGE LEVEL PLUGINS
