/ BEGIN SAMPLE FORM PORTLET
.row
  .col-md-3
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-user
          会员信息
        .actions
          %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;"}
            %i.fa.fa-plus
            选择宠物

          %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;"}
            %i.fa.fa-remove
            新增宠物

      .portlet-body.portlet-empty
        = partial 'views/commons/pet_header'

  .col-md-9
    .portlet.light.bordered
      .portlet-title
        .caption
          %i.fa.fa-file
          %span.caption-subject.font-dark.sbold.uppercase 寄养登记

      .portlet-body.form
        -#= partial 'views/commons/fosterage_form'