-#编辑处方类型
.form-body
  .row
    .col-md-6
      = partial :'layouts/inputs/textview', :locals => {:keyword => 'prescriptiontype', :fieldName => '所属类型', :maxlength => '32', :required => 'true'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'prescription', :fieldName => '名称', :maxlength => '32'}

  .row
    .col-md-12
      = partial 'views/commons/product/product_autocomplete'

  - portal "商品列表", "prescripttemplatedetail"
  = partial :'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false", :inline_toolbar => 'remove', :selection => "none"}

