/ BEGIN SAMPLE FORM PORTLET
.row
  .col-md-3
    = partial 'layouts/widget/service_pet'

  .col-md-9
    .portlet.light.bordered
      .portlet-title
        .caption
          %i.fa.fa-file
          %span.caption-subject.font-dark.sbold.uppercase 化验结果
        .actions
          %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;"}
            %i.fa.fa-plus
            上传附件

      .portlet-body.form
        - portal "化验结果", "analyseddetail"
        = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false" }

        %h4 附件

        -#附件列表
        = partial 'views/commons/file_list'

        %h4 检测结果
        .row
          .col-md-12
            %textarea.form-control
