/ BEGIN HEADER
.page-header.navbar.navbar-fixed-top
  / BEGIN HEADER INNER
  .page-header-inner
    / BEGIN LOGO
    .page-logo
      %a{:href => "index.html"}
        %img.logo-default{:alt => "logo", :src => "./assets/images/logo.png"}/
      .menu-toggler.sidebar-toggler
        %span

    / BEGIN RESPONSIVE MENU TOGGLER
    %a.menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
      %span

    / BEGIN TOP NAVIGATION MENU
    .top-menu
      %ul.nav.navbar-nav.pull-right
        / BEGIN USER LOGIN DROPDOWN
        %li.dropdown.dropdown-user
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
            %img.img-circle{:alt => "", :src => "./assets/images/doctor.png"}/
            %span.username.username-hide-on-mobile{"ng"=>{"bind":"userName"}}
            %i.fa.fa-angle-down

        / BEGIN QUICK SIDEBAR TOGGLER
        %li.dropdown.dropdown-quick-sidebar-toggler
          %a.dropdown-toggle{:href => "login.html"}
            %i.fa.fa-sign-out
