-# 处方模板

.row
  .col-md-12
    = partial 'views/commons/product/product_autocomplete'

.row
  -#.col-md-3
  -#  - portal "处方模版类型", "prescripttemplatetype"
  -#  = partial 'layouts/widget/tree', :locals => {:sidename => "处方模版类型", :sidefieldname=> 'typeName'}
  .col-md-12
    - portal '处方明细', 'doctorprescriptdetail'
    = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :listdataKey => "portalFields", :inline_toolbar => 'remove' ,:inline_attr_disabled => "doctorprescriptdetail.paidStatus == 'SM00051'"} do
      // 不输出按钮
      -#= partial :'layouts/buttons/btn', :locals => {:label => "保存为模板"}
      -#= partial :'layouts/buttons/btn', :locals => {:label => "同步建议处方"}

    -#- portal '处方模版明细', 'prescripttemplatedetail'
    -#= partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'selected'} do
    -#  / 不输出按钮
