---
layout: "page"
---

- page '宠物管理', 'pet'

= partial 'layouts/widget/portal'

/ 编辑
- modal '宠物管理', 'pet'

= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'

/ 宠物选择
= partial :'layouts/widget/service_vip_select'