/ 门户组件
/ BEGIN  FORM PORTLET

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-settings.font-dark
      %span.caption-subject.font-dark.sbold.uppercase=yield_content :label
    .actions
      =yield_content :toolbar


  .portlet-body.form
    =yield
