- page 'Case', 'case'

%table.table.table-striped.table-bordered.table-advance.table-hover
  %thead
    %tr
      %th
        %i.fa.fa-briefcase
        Company
      %th.hidden-xs
        %i.fa.fa-user
        Contact
      %th
        %i.fa.fa-shopping-cart
        Total
      %th
  %tbody
    %tr
      %td.highlight
        .success
        %a{:href => "javascript:;"} RedBull
      %td.hidden-xs Mike Nilson
      %td 2560.60$
      %td
        %a.btn.btn-outline.btn-circle.btn-sm.purple{:href => "javascript:;"}
          %i.fa.fa-edit
          Edit
    %tr
      %td.highlight
        .info
        %a{:href => "javascript:;"} Google
      %td.hidden-xs Adam Larson
      %td 560.60$
      %td
        %a.btn.btn-outline.btn-circle.dark.btn-sm.black{:href => "javascript:;"}
          %i.fa.fa-trash-o
          Delete
    %tr
      %td.highlight
        .success
        %a{:href => "javascript:;"} Apple
      %td.hidden-xs Daniel Kim
      %td 3460.60$
      %td
        %a.btn.btn-outline.btn-circle.green.btn-sm.purple{:href => "javascript:;"}
          %i.fa.fa-edit
          Edit
    %tr
      %td.highlight
        .warning
        %a{:href => "javascript:;"} Microsoft
      %td.hidden-xs Nick
      %td 2560.60$
      %td
        %a.btn.btn-outline.btn-circle.red.btn-sm.blue{:href => "javascript:;"}
          %i.fa.fa-share
          Share
