- page 'Case', 'case'

%form{:id => "#{@modal_id}form", :name => "#{@modal_id}form", :novalidate => "", "ng-submit" => "#{@modal_id}submit()", :role => "form"}
  / BEGIN SAMPLE FORM PORTLET
  .portlet.light.bordered
    .portlet-title
      %span.caption-subject.bold.uppercase Input Groups &amp; Icons
      .actions
        %a.btn.btn-circle.btn-icon-only.blue{:href => "javascript:;"}
          %i.icon-cloud-upload
        %a.btn.btn-circle.btn-icon-only.green{:href => "javascript:;"}
          %i.icon-wrench
        %a.btn.btn-circle.btn-icon-only.red{:href => "javascript:;"}
          %i.icon-trash
      .caption.font-red-sunglo
    .portlet-body.form
      / The file upload form used as target for the file upload widget
      %div#fileupload{:action => "//jquery-file-upload.appspot.com/", "data-file-upload" => "options", "data-ng-class" => "{'fileupload-processing': processing() || loadingFiles}", :enctype => "multipart/form-data", :method => "POST"}
        / Redirect browsers with JavaScript disabled to the origin page
        %noscript
          %input{:name => "redirect", :type => "hidden", :value => "https://blueimp.github.io/jQuery-File-Upload/"}/
        / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
        .row.fileupload-buttonbar
          .col-lg-7
            / The fileinput-button span is used to style the file input field as button
            %span.btn.btn-success.fileinput-button{"ng-class" => "{disabled: disabled}"}
              %i.glyphicon.glyphicon-plus
              %span Add files...
              %input{:multiple => "multiple", :name => "files[]", "ng-disabled" => "disabled", :type => "file"}/
            %button.btn.btn-primary.start{"data-ng-click" => "submit()", :type => "button"}
              %i.glyphicon.glyphicon-upload
              %span Start upload
            %button.btn.btn-warning.cancel{"data-ng-click" => "cancel()", :type => "button"}
              %i.glyphicon.glyphicon-ban-circle
              %span Cancel upload
            / The global file processing state
            %span.fileupload-process
          / The global progress state
          .col-lg-5.fade{"data-ng-class" => "{in: active()}"}
            / The global progress bar
            .progress.progress-striped.active{"data-file-upload-progress" => "progress()"}
              .progress-bar.progress-bar-success{"data-ng-style" => "{width: num + '%'}"}
            / The extended global progress state
            .progress-extended  
        / The table listing the files available for upload/download
        %table.table.table-striped.files.ng-cloak
          %tr{"data-ng-class" => "{'processing': file.$processing()}", "data-ng-repeat" => "file in queue"}
            %td{"data-ng-switch" => "", "data-on" => "!!file.thumbnailUrl"}
              .preview{"data-ng-switch-when" => "true"}
                %a{"data-gallery" => "", "data-ng-href" => "{{file.url}}", :download => "{{file.name}}", :title => "{{file.name}}"}
                  %img{:alt => "", "data-ng-src" => "{{file.thumbnailUrl}}"}/
              .preview{"data-file-upload-preview" => "file", "data-ng-switch-default" => ""}
            %td
              %p.name{"data-ng-switch" => "", "data-on" => "!!file.url"}
                %span{"data-ng-switch" => "", "data-ng-switch-when" => "true", "data-on" => "!!file.thumbnailUrl"}
                  %a{"data-gallery" => "", "data-ng-href" => "{{file.url}}", "data-ng-switch-when" => "true", :download => "{{file.name}}", :title => "{{file.name}}"} {{file.name}}
                  %a{"data-ng-href" => "{{file.url}}", "data-ng-switch-default" => "", :download => "{{file.name}}", :title => "{{file.name}}"} {{file.name}}
                %span{"data-ng-switch-default" => ""} {{file.name}}
              %strong.error.text-danger{"data-ng-show" => "file.error"} {{file.error}}
            %td
              %p.size {{file.size | formatFileSize}}
              .progress.progress-striped.active.fade{"data-file-upload-progress" => "file.$progress()", "data-ng-class" => "{pending: 'in'}[file.$state()]"}
                .progress-bar.progress-bar-success{"data-ng-style" => "{width: num + '%'}"}
            %td
              %button.btn.btn-primary.start{"data-ng-click" => "file.$submit()", "data-ng-disabled" => "file.$state() == 'pending' || file.$state() == 'rejected'", "data-ng-hide" => "!file.$submit || options.autoUpload", :type => "button"}
                %i.glyphicon.glyphicon-upload
                %span Start
              %button.btn.btn-warning.cancel{"data-ng-click" => "file.$cancel()", "data-ng-hide" => "!file.$cancel", :type => "button"}
                %i.glyphicon.glyphicon-ban-circle
                %span Cancel
              %button.btn.btn-danger.destroy{"data-ng-click" => "file.$destroy()", "data-ng-hide" => "!file.$destroy", :type => "button"}
                %i.glyphicon.glyphicon-trash
                %span Delete


  %h3 ng-select

  .panel.panel-default
    .panel-body

      .alert.alert-danger
        %label 欢迎来到 {{mycity}}

        %label 宠物品种 {{varietietype.floristicf}}

      .form-group
        .col-md-4
          %label.control-label 种类科属
          %select.form-control{"ng"=>{"model"=>"varietietype.floristicf"}}
            %option{ "ng-repeat" => "type in combox.types", :value => "{{type.code}}"} {{type.name}}

        .col-md-4
          %label.control-label 宠物品种（for object)
          %select.form-control{"ng"=>{"model"=>"varietietype.floristicf", "options" => "label for (key , value) in combox.types"}}

        .col-md-4
          %label.control-label 城市 （for array）

          %select.form-control{"ng-model"=>"mycity", "ng-options" => "city.id as city.name for city in Cities"}

      .form-group
        .col-md-4
          %label.control-label 自定义下拉显示名称
          %select.form-control{"ng-model"=>"seleted", "ng-options"=>"(a.name + '爱吃' + a.food) for a in animals" }

%h3 thumbnail

.thumbnail
  thumbnail

%h3 Panels

.panel.panel-default
  .panel-body
    Basic panel example

/ BEGIN Portlet PORTLET
%h3 Portlet
.portlet.box.blue-hoki
  .portlet-title
    .caption
      %i.fa.fa-gift>
      Portlet1
    .actions
      %a.btn.btn-default.btn-sm{:href => "javascript:;"}
        %i.fa.fa-pencil
        Edit
      %a.btn.btn-default.btn-sm{:href => "javascript:;"}
        %i.fa.fa-plus
        Add
  .portlet-body
    .scroller{"data-handle-color" => "#a1b2bd", "data-rail-color" => "yellow", "data-rail-visible" => "1", :style => "height:200px"}
      %strong Scroll is hidden
      %br/
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
      eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
      amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis,
      est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.

%hr

/ BEGIN SAMPLE FORM PORTLET
.portlet.light.bordered
  .portlet-body.form
    .row
      .col-md-6
        #tree_1.tree-demo
      .col-md-6
        #tree_2.tree-demo

          / BEGIN SAMPLE FORM PORTLET
          .portlet.light.bordered
            .portlet-title
              .caption.font-green-haze
                %i.icon-settings.font-green-haze
                %span.caption-subject.bold.uppercase Horizontal Form
              .actions
                %a.btn.btn-circle.btn-icon-only.blue{:href => "javascript:;"}
                  %i.icon-cloud-upload
                %a.btn.btn-circle.btn-icon-only.green{:href => "javascript:;"}
                  %i.icon-wrench
                %a.btn.btn-circle.btn-icon-only.red{:href => "javascript:;"}
                  %i.icon-trash
                %a.btn.btn-circle.btn-icon-only.btn-default.fullscreen{"data-original-title" => "", :href => "javascript:;", :title => ""}
            .portlet-body.form
              %form.form-horizontal{:role => "form"}
                .form-body
                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Regular input
                    .col-md-4
                      %input#form_control_1.form-control{:placeholder => "Enter your name", :type => "text"}/
                      .form-control-focus

                    %label.col-md-2.control-label{:for => "form_control_1"} Regular input
                    .col-md-4
                      %input#form_control_1.form-control{:placeholder => "Enter your name", :type => "text"}/
                      .form-control-focus

                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Input with hint
                    .col-md-10
                      %input#form_control_1.form-control{:placeholder => "Enter your email", :type => "text"}/
                      .form-control-focus
                      %span.help-block Some help goes here...
                  .form-group.form-md-line-input.has-success
                    %label.col-md-2.control-label{:for => "form_control_1"} Success Input
                    .col-md-10
                      %input#form_control_1.form-control{:placeholder => "Success state", :type => "text"}/
                      .form-control-focus
                  .form-group.form-md-line-input.has-warning
                    %label.col-md-2.control-label{:for => "form_control_1"} Warning Input
                    .col-md-10
                      %input#form_control_1.form-control{:placeholder => "Warning state", :type => "text"}/
                      .form-control-focus
                  .form-group.form-md-line-input.has-error
                    %label.col-md-2.control-label{:for => "form_control_1"} Error State
                    .col-md-10
                      %input#form_control_1.form-control{:placeholder => "Error state", :type => "text"}/
                      .form-control-focus
                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Dropdown Input
                    .col-md-10
                      %select#form_control_1.form-control
                        %option{:value => ""}
                        %option{:value => ""} Option 1
                        %option{:value => ""} Option 2
                        %option{:value => ""} Option 3
                        %option{:value => ""} Option 4
                      .form-control-focus
                  .form-group.form-md-line-input.has-success
                    %label.col-md-2.control-label{:for => "form_control_1"} Textarea
                    .col-md-10
                      %textarea.form-control{:placeholder => "Enter more text", :rows => "3"}
                      .form-control-focus
                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Disabled
                    .col-md-10
                      %input#form_control_1.form-control{:disabled => "disabled", :placeholder => "Placeholder...", :type => "text"}/
                      .form-control-focus
                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Readonly
                    .col-md-10
                      %input#form_control_1.form-control{:placeholder => "Placeholder...", :readonly => "readonly", :type => "text", :value => "Some value"}/
                      .form-control-focus
                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Readonly
                    .col-md-10
                      .form-control.form-control-static email@example.com
                      .form-control-focus
                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Small
                    .col-md-10
                      %input#form_control_1.form-control.input-sm{:placeholder => ".input-sm", :type => "text"}/
                      .form-control-focus
                  .form-group.form-md-line-input
                    %label.col-md-2.control-label{:for => "form_control_1"} Large
                    .col-md-10
                      %input#form_control_1.form-control.input-lg{:placeholder => ".input-lg", :type => "text"}/
                      .form-control-focus
                .form-actions
                  .row
                    .col-md-offset-2.col-md-10
                      %button.btn.default{:type => "button"} Cancel
                      %button.btn.blue{:type => "button"} Submit

%hr

/ BEGIN SAMPLE FORM PORTLET
.portlet.light.bordered
  .portlet-title
    .caption.font-red-sunglo
      %span.caption-subject.bold.uppercase Input Groups &amp; Icons
    .actions
      %a.btn.btn-circle.btn-icon-only.blue{:href => "javascript:;"}
        %i.icon-cloud-upload
      %a.btn.btn-circle.btn-icon-only.green{:href => "javascript:;"}
        %i.icon-wrench
      %a.btn.btn-circle.btn-icon-only.red{:href => "javascript:;"}
        %i.icon-trash

  .portlet-body.form
    %form{:role => "form"}
      .form-body
        .row
          .col-md-4
            .form-group.form-md-line-input.has-success
              .input-icon
                %input.form-control{:placeholder => "Left icon", :type => "text"}/
                %label{:for => "form_control_1"} Regular input
                %span.help-block Some help goes here...
                %i.fa.fa-bell-o
          .col-md-4
            .form-group.form-md-line-input.has-warning
              %input#form_control_1.form-control{:placeholder => "Warning state", :type => "text"}/
              %label{:for => "form_control_1"} Warning input
          .col-md-4
            .form-group.form-md-line-input.has-error
              .input-group
                %input.form-control{:placeholder => "Email Address", :type => "text"}/
                %label{:for => "form_control_1"} Input Group
                %span.input-group-addon
                  %i.fa.fa-envelope
        .row
          .col-md-4
            .form-group.form-md-line-input.has-error
              .input-group
                .input-group-control
                  %input.form-control{:placeholder => "Placeholder", :type => "text"}/
                  %label{:for => "form_control_1"} Input Group
                %span.input-group-btn.btn-right
                  %button.btn.green-haze.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                    Action
                    %i.fa.fa-angle-down
                  %ul.dropdown-menu.pull-right{:role => "menu"}
                    %li
                      %a{:href => "javascript:;"} Action
                    %li
                      %a{:href => "javascript:;"} Another action
                    %li
                      %a{:href => "javascript:;"} Something else here
                    %li.divider
                    %li
                      %a{:href => "javascript:;"} Separated link

        .form-group.form-md-line-input.has-success
          .input-icon.right
            %input.form-control{:placeholder => "Right icon", :type => "text"}/
            %label{:for => "form_control_1"} Input With Hint
            %span.help-block Some help goes here...
            %i.icon-user

        .form-group.form-md-line-input.has-info
          .input-group
            %span.input-group-addon
              %i.fa.fa-envelope
            %input.form-control{:placeholder => "Email Address", :type => "text"}/
            %label{:for => "form_control_1"} Input Group
        .form-group.form-md-line-input.has-error
          .input-group
            %input.form-control{:placeholder => "Email Address", :type => "text"}/
            %label{:for => "form_control_1"} Input Group
            %span.input-group-addon
              %i.fa.fa-envelope
        .form-group.form-md-line-input.has-warning
          .input-group
            %span.input-group-addon $
            %input.form-control{:type => "text"}/
            %span.help-block Some help goes here...
            %span.input-group-addon .00
            %label{:for => "form_control_1"} Input Group
        .form-group.form-md-line-input.has-warning
          .input-group
            %span.input-group-btn.btn-left
              %button.btn.blue-madison{:type => "button"} Go!
            .input-group-control
              %input.form-control.edited{:placeholder => "Placeholder", :type => "text"}/
              %label{:for => "form_control_1"} Input Group
        .form-group.form-md-line-input.has-error
          .input-group
            .input-group-control
              %input.form-control{:placeholder => "Placeholder", :type => "text"}/
              %label{:for => "form_control_1"} Input Group
            %span.input-group-btn.btn-right
              %button.btn.green-haze.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                Action
                %i.fa.fa-angle-down
              %ul.dropdown-menu.pull-right{:role => "menu"}
                %li
                  %a{:href => "javascript:;"} Action
                %li
                  %a{:href => "javascript:;"} Another action
                %li
                  %a{:href => "javascript:;"} Something else here
                %li.divider
                %li
                  %a{:href => "javascript:;"} Separated link
        .form-group.form-md-line-input.has-info
          .input-group
            %span.input-group-btn.btn-left
              %button.btn.red-intense{:type => "button"} Go!
            .input-group-control
              %input.form-control{:placeholder => "Input group", :type => "text"}/
              %span.help-block Some help goes here...
              %label{:for => "form_control_1"} Input Group
            %span.input-group-btn.btn-right
              %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                Action
                %i.fa.fa-angle-down
              %ul.dropdown-menu.pull-right{:role => "menu"}
                %li
                  %a{:href => "javascript:;"} Action
                %li
                  %a{:href => "javascript:;"} Another action
                %li
                  %a{:href => "javascript:;"} Something else here
                %li.divider
                %li
                  %a{:href => "javascript:;"} Separated link

        .form-group.form-md-line-input.has-info
          .input-group.input-group-sm
            %span.input-group-btn.btn-left
              %button.btn.red-intense{:type => "button"} Go!
            .input-group-control
              %input.form-control.input-sm{:placeholder => ".input-sm", :type => "text"}/
              %label{:for => "form_control_1"} Small Input Group

            %span.input-group-btn.btn-right
              %button.btn.green-haze{:type => "button"} Go!
        .form-group.form-md-line-input.has-info
          .input-group.input-group-lg
            %span.input-group-btn.btn-left
              %button.btn.red-intense{:type => "button"} Go!
            .input-group-control
              %input.form-control.input-lg{:placeholder => ".input-lg", :type => "text"}/
              %label{:for => "form_control_1"} Large Input Group
            %span.input-group-btn.btn-right
              %button.btn.green-haze{:type => "button"} Go!
      .form-actions.noborder
        %button.btn.blue{:type => "button"} Submit
        %button.btn.default{:type => "button"} Cancel



/ BEGIN FORM
%form.form-horizontal.form-bordered{:action => "#"}
  .form-body

    .form-group
      %label.control-label.col-md-3 Default Datepicker
      .col-md-3
        %input.form-control.form-control-inline.input-medium.date-picker{:size => "16", :type => "text", :value => ""}/
        %span.help-block Select date

    .form-group
      %label.control-label.col-md-3 Default Datepicker
      .col-md-3
        .input-group
          %input.form-control{:placeholder => "Search for...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-primary{:type => "button"} Go!

    .form-group
      %label.control-label.col-md-3 Disable Past Dates
      .col-md-3
        .input-group.input-medium.date.date-picker{"data-date-format" => "yyyy-mm-dd", "data-date-start-date" => "+0d"}
          %input.form-control{:readonly => "readonly", :type => "text"}/
          %span.input-group-btn
            %button.btn.default{:type => "button"}
              %i.fa.fa-calendar
        / /input-group
        %span.help-block Select date

    .form-group
      %label.control-label.col-md-3 Start With Years
      .col-md-3
        .input-group.input-medium.date.date-picker{"data-date" => "12-02-2012", "data-date-format" => "dd-mm-yyyy", "data-date-viewmode" => "years"}
          %input.form-control{:readonly => "readonly", :type => "text"}/
          %span.input-group-btn
            %button.btn.default{:type => "button"}
              %i.fa.fa-calendar
        / /input-group
        %span.help-block Select date
    .form-group
      %label.control-label.col-md-3 Months Only
      .col-md-3
        .input-group.input-medium.date.date-picker{"data-date" => "10/2012", "data-date-format" => "mm/yyyy", "data-date-minviewmode" => "months", "data-date-viewmode" => "years"}
          %input.form-control{:readonly => "readonly", :type => "text"}/
          %span.input-group-btn
            %button.btn.default{:type => "button"}
              %i.fa.fa-calendar
        / /input-group
        %span.help-block Select month only
    .form-group
      %label.control-label.col-md-3 Date Range
      .col-md-4
        .input-group.input-large.date-picker.input-daterange{"data-date" => "10/11/2012", "data-date-format" => "mm/dd/yyyy"}
          %input.form-control{:name => "from", :type => "text"}/
          %span.input-group-addon to
          %input.form-control{:name => "to", :type => "text"}/
        / /input-group
        %span.help-block Select date range
    .form-group
      %label.control-label.col-md-3 Inline
      .col-md-3
        .date-picker{"data-date-format" => "mm/dd/yyyy"}
    .form-group.last
      %label.control-label.col-md-3
      .col-md-3
        %a.btn.green.btn-outline.sbold.uppercase{"data-toggle" => "modal", :href => "#form_modal2"}
          View Datepicker in modal
          %i.fa.fa-share
