= partial 'views/commons/vip/portal_vip_form'

/ Portal
- portal "宠物管理", "pet"

= partial :'layouts/table/portal' do
  = partial :'layouts/buttons/insert', :locals => {:click => 'petportal.insert()'}
  = partial :'layouts/buttons/removes', :locals => {:click => 'petportal.removes()', 'disabled': 'petportal.isRemoves'}
