.form-body
  .row
    .col-md-12
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '种类', :maxlength => '32', :required => "true"}

  .row
    .col-md-12
      = partial :'layouts/inputs/text', :locals => {:fieldName => '品种', :maxlength => '32'}
