---
layout: "page"
---

- page '用户数据字典', 'userdict'

#operate_msg_box
.row
  .col-md-3
    - portal "分类", "userdicttype"
    = partial 'layouts/widget/side', :locals => {:name => "分类", :id=> 'userdicttype', :fieldName => "dictName"} do
      / 不显示工具条

  .col-md-9
    - portal '数据字典', 'userdict'
    = partial 'layouts/widget/portal', :locals => {:filterbar => "page", :pagingbar => "none"}

/ Modal
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'
