.form-body
  .row
    .col-md-12
      = partial :'layouts/inputs/textview', :locals => { :fieldName => '住院号', :maxlength => '16'}
      = partial :'layouts/inputs/textarea', :locals => { :fieldName => '备注', :maxlength => '16'}