-# 住院处方
.row
  .col-md-3
    - portal "住院处方", "inhospitalprescription"
    = partial 'layouts/widget/side', :locals => {:name => "分类", :id=> 'inhospitalprescription', :fieldName => "prescriptionCode", :modal_caption => "none", "light" => "none"} do
      // 不输出

  .col-md-9
    -# 处置处方
    - portal '住院处方明细', 'inhospitalprescriptiondetail'
    = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'none', :selection => "none", :pagefilter => "orderBy:'groupName':false" }  do
      = partial :'layouts/buttons/print', :locals => {:click => 'inhospitalprescriptionportal.print()', :disabled => "!inhospitalprescriptionportal.selectedId"}